<h3>Administration Panel - Device Control</h3>
<h4>Job Queue</h4>
<FORM ACTION="<% $r->uri %>" METHOD=GET> 
<& SELF:list_queue &>
<INPUT TYPE="hidden" VALUE="list" NAME="cmd">
<INPUT TYPE="submit" VALUE="Refresh Queue Listing">
Finished Jobs: <SELECT NAME="old_jobs">
% foreach my $num (qw/1 3 5 10 20 30 50 100/) {
    <OPTION VALUE="<%$num%>"<% $num eq $old_jobs ? ' SELECTED': ''%>><%$num%>
% }
</SELECT>
</FORM>
<h4>Device Control</h4>
<FORM ACTION="<% $r->uri %>" METHOD=POST> 
<INPUT TYPE="HIDDEN" NAME="cmd" VALUE="<%$cmd eq 'del' ? 'del' : 'add'%>">
<& SELF:err &>
% if ($cmd =~ /^(add|list)$/){
<& SELF:dev_control &>
% } elsif ($cmd eq 'del') {
<& SELF:del_dev &>
% }
</FORM>
<%args>
$dev     => undef
$dev_text=> undef
$cmd     => 'add'
$debug   => undef
$action  => undef
@logs    => ()
$nodes   => undef
$confirm => undef
$old_jobs => 3
</%args>
<%shared>
my $user      = $m->session->{user};
my $is_admin  = $m->session->{user_admin};
my $secure    = $r->subprocess_env('https');
my %cmds = ( 'refresh' => 'Refresh Device',
             'delete'  => 'Delete Device',
             'macsuck' => 'MacSuck Device',
             'arpnip'  => 'ArpNip Device'
           );
my $devices = undef;
my $queue   = undef;
my $log = 0;
my %logs = ();
my $err =  '';
my ($arg_dev,$arg_debug,$db_dev);
my $odd = 0;
my $debug_flag;
</%shared>
<%init>

# Check Authorization 
unless ($secure eq 'on' and $is_admin){
    my $url = $m->interp->apply_escapes( $r->uri, 'u' );
    $m->redirect("login.html?done=$url");
}

# Move args to shared space for methods
$arg_dev = $dev;
$arg_debug = $debug;
%logs = map {$_ => 1} @logs;

# Load device list, unless device provided.
$devices = sql_rows('device',['ip','dns']);

# Check for textual input.
if ($cmd eq 'add' and $dev_text){
    $dev=getip($dev_text);
    $arg_dev = $dev;
} 

# Load dev from db if given
$db_dev = sql_hash('device',['ip','dns','layers'],{'ip'=>$dev}) if $dev;

# Refresh / MacSuck / Arpnip
if ($cmd eq 'add' and $action =~ /^(refresh|macsuck|arpnip)$/){
    # Verify device exists.
    unless (defined $db_dev->{ip}){
        $err .= "Device ($dev) not found in Database.<BR>\n";
        $action = undef;
        $arg_dev = $dev = undef;
    }

    # Verify macsuck/arpnip is possible on device.
    my $layers = $db_dev->{layers};

    if ($action eq 'macsuck' and !&netdisco::has_layer($layers,2) ){
        $err .= "Device does not support mac_sucking.<BR>\n"; 
        $action = undef;
        $arg_dev = $dev = undef;
    }

    if ($action eq 'arpnip' and !&netdisco::has_layer($layers,3) ){
        $err .= "Device does not support arp_niping .<BR>\n"; 
        $action = undef;
        $arg_dev = $dev = undef;
    }

    # Add Entry to Queue
    unless ($err) {
        $err .= "Device $dev has been queued for $action. <BR>\n";
        $debug_flag = (defined $debug and $debug eq 'yes') ? 1 : 0;
        $netdisco::SQLCARP=1;
        insert_or_update('admin',{},
            {'device'=>$dev,'action'=>$action, 'status' => 'queued',
             'username' => $user, 'debug' => $debug_flag }
                        );
        
        $netdisco::SQLCARP=0;
        $action = undef;
        $arg_dev = $dev = undef;
    }
} elsif ($cmd eq 'add' and $dev){
    $err .= "Please select an action.<BR>\n";
}

# Delete
if ($cmd eq 'del'){
    # Verify device exists.
    unless (defined $db_dev->{ip}){
        $err .= "Device not found in Database.<BR>\n";
        $cmd = 'add';
        $action = undef;
    }
    unless (defined $confirm and $confirm eq 'ok'){
        $err .= "Please Confirm Deletion of device.<BR>\n";
        $cmd = 'del';
    }
    # Add to queue.
    unless ($err) {
        $err .= "Device $dev marked for deletion.<BR>\n";
        my $act = (defined $nodes and $nodes eq 'ok') ? 'delete+nodes' : 'delete';
        insert_or_update('admin',{},
            {'device'=>$dev,'action'=>$act, 'status' => 'queued',
             'username' => $user, 'debug' => (defined $debug and $debug eq 'yes' ? 1 : 0)  }
                        ); 
        $cmd = 'add';
        $dev = undef; $arg_dev = undef;
    }
}

# Delete Verify
if ($cmd eq 'add' and defined $action and $action eq 'delete') {
    $cmd = 'del'; # order matters between delete and verify
}

# Taint check (head between legs)
$old_jobs = 5 unless ($old_jobs =~ /^\d+$/);

# Queue
$queue = sql_rows('admin',['job','extract(epoch from entered) as entered','extract(epoch from finished) as finished',
                           'extract(epoch from started) as started','device','action','status','username'],
                  {'status' => [['queued','running']]}
                 );
my $done = sql_rows('admin',['job','extract(epoch from entered) as entered','extract(epoch from finished) as finished',
                             'extract(epoch from started) as started','device','action','status','username'],
                    {'status' => [['done','error']]},undef,
                     "order by entered desc limit $old_jobs"
                   );
push (@$queue,@$done);

# Log entries are fetched separately, as these can be rather large, and should
#  only be loaded if needed.
foreach my $item (@$queue){
    my $id = $item->{job};
    if (defined $logs{$id}){
        my $log = sql_scalar('admin',['log'],{'job'=>$id});
        $item->{log} = $log;
    }
}

</%init>
%#
%# err() - Prints out the error string if it exists.
%#
<%method err>
% return unless $err;
<h3><%$err%></h3>
</%method>
%#
%# del_dev() - Creates a confirmation page for deletion of a device.
%#
<%method del_dev>
<h3>Confirm Deletion of <%$arg_dev%></h3>
<INPUT TYPE="hidden" NAME="debug" VALUE="<%$arg_debug%>">
<INPUT TYPE="hidden" NAME="dev" VALUE="<%$arg_dev|h%>">
<INPUT TYPE="checkbox" NAME="confirm" VALUE="ok">
Delete <A HREF="device.html?ip=<%$arg_dev |u%>"><%$arg_dev%></A>.
<INPUT TYPE="checkbox" NAME="nodes" VALUE="ok"> Delete Nodes Too. 
<P>
<INPUT TYPE="submit" VALUE="Delete <%$arg_dev|h%>">
</%method>
%#
%# dev_control() - Prints out the device control menu form.
%#
<%method dev_control>
<TABLE CELLSPACING=0 CELLPADDING=3 CLASS="box" border=0>
<TR>
    <TD>Choose Device : </TD>
    <TD>
        <& SELF:list_dev &>
    </TD>
    <TD ROWSPAN=2>Action : </TD>
    <TD ROWSPAN=2>
        <SELECT NAME="action" SIZE=3>
% foreach my $c (sort keys %cmds){
            <OPTION VALUE="<%$c|h%>"><%$cmds{$c}%>
% }
        </SELECT>
    </TD>
</TR>
<TR>
    <TD>or Enter Device : </TD>
    <TD><INPUT TYPE="TEXT" VALUE="<%$arg_dev%>" NAME="dev_text"></TD>
</TR>
<TR> 
    <TD COLSPAN=2>
        <INPUT TYPE="submit" VALUE="Queue New Job">
        [<A HREF="<%$r->uri%>">Reset</A>]
    </TD>
    <TD COLSPAN=2>
        Debug :
        <INPUT TYPE="checkbox" NAME="debug" VALUE="yes" <%$arg_debug ? 'CHECKED' : ''%>>
    </TD>
</TR>
</TABLE>
</%method>
%#
%# list_dev() - Create <SELECT> list for devices 
%#
<%method list_dev>
<SELECT NAME="dev" SIZE=4>
% foreach my $dev (sort {$a->{dns} cmp $b->{dns}} @$devices){
%   my $view = defined $dev->{dns} ? $dev->{dns} : $dev->{ip};
%   $view =~ s/\Q$netdisco::CONFIG{domain}\E//; 
            <OPTION VALUE="<%$dev->{ip}|h%>"><%$view%>
%}
        </SELECT>
</%method>
%#
%# list_queue() - List jobs in admin queue
%#
<%method list_queue>
% return unless scalar @$queue;
<TABLE WIDTH=100% CELLSPACING=0 CELLPADDING=2 BORDER=0> 
  <TR>
    <TH>Job</TH>
    <TH>Action</TH>
    <TH>Time</TH>
    <TH>Status</TH>
    <TH>View<BR>Log</TH>
% if (scalar keys %logs){
    <TH>Log</TH>
%}
  </TR>
<%perl>
foreach my $job (sort {$b->{entered} <=> $a->{entered} } @$queue){
    my $entered = scalar localtime($job->{entered});
    my $start   = defined $job->{started} ? scalar localtime($job->{started}) : undef;
    my $end   = defined $job->{finished} ? scalar localtime($job->{finished}) : undef;
    my $time  = (defined $job->{started} and defined $job->{finished}) ?
        $job->{finished} - $job->{started} : undef;
    my $timestamp = defined $time ?
         sprintf("Ended: %s<BR> %-2.2f min.",$end,$time/60) 
         : undef;
    $timestamp = "Start: $start" if (! defined $timestamp and defined $start);
    $timestamp = "Queued: $entered" if (! defined $timestamp and ! defined $start);
    my $status = $job->{status};
    my $act    = $job->{action};
    my $dev    = $job->{device};
    my $id     = $job->{job};
    $act .= " (<A HREF=\"device.html?ip=$dev\">$dev</A>)" if $dev;
</%perl>
  <TR CLASS="match-<% ++$odd%2 %>">
    <TD><%$id%> - <%$job->{username}%></TD>
    <TD><%$act%></TD>
    <TD><%$timestamp%></TD>
    <TD><%$status%></TD>
    <TD><INPUT TYPE="checkbox" NAME="logs" VALUE="<%$id%>"<% defined $logs{$id} ? ' CHECKED' : ''%>></TD>
% if (scalar keys %logs) {
    <TD>
%   if (defined $logs{$id} and !defined $job->{log}) {
    [ No Log Available ]
%   } elsif (defined $logs{$id} and defined $job->{log}) {
    <TEXTAREA COLS=50 ROWS=6 WRAP=OFF><%$job->{log}|h%></TEXTAREA>
%   } else {
    &nbsp;
%   }
    </TD>
% }
  </TR>
% }
</TABLE>
</%method>
<%method title>
- Admin Panel - Devices \
</%method>
%# $Id$
%# vim:syntax=mason
