/* Netdisco Cascading Style Sheet
 * $Source$
 * $Id$
 *
 * Wheat -> Blue  F5DEB3 D0BDBE B8A7C6 7B6FDA 3D38EC 1915F8
 * Wheat -> Black F5DEB3 D0BD98 B8A786 7B6F5A 3D382D 191512
 * Wheat -> White F5DEB3 F6E3BE F8E7C6 FBEFDA FCF7EC FFFCF8
 * border order: top right bottom left
 */

/****************************************************************
 *  GLOBAL STYLES - All Pages                                   *
 ****************************************************************/
TABLE {
    border-spacing: 0px;
    border-collapse: collapse;
    border-style: none;
    border-color: black;
}
TH {
    font-size:12pt;
    font-weight: normal;
    border-spacing: 0px;
    border-collapse: collapse;
    border-style: none;
}
TD {
    font-size:10pt;
    border-spacing: 0px;
    border-collapse: collapse;
    border-style: none;
}

A          { text-decoration:none; color:#000099; }
IMG        { border: none; }
H1 {
    font-size:150%;
    text-indent:5px;
    background-color:#191970;
    color:#f5deb3;
    padding:5px 5px 3px 5px;
    margin:0px 0px 3px 0px;
}
H2 {
    font-size:125%;
    text-indent:5px;
    color:#000099;
    padding:5px 5px 3px 5px;
    margin:10px 0px 3px 0px;
}
H3 {
    font-size:100%;
    text-indent:5px;
    background-color:#191970;
    color:#f5deb3;
    padding:5px 5px 3px 5px;
    margin:0px 0px 3px 0px;
}
H4 {
    font-size:85%;
    text-indent:5px;
    color:#000099;
    padding:2px 4px 2px 4px;
    margin:0px 0px 3px 0px;
}
INPUT.text { font-size:9pt; }
FORM       { margin-bottom:0; margin-top:0; }
UL,DL,OL   { margin-top:0; margin-bottom:0; }
ul.square  { list-style-type:square; }
.category  { text-decoration: underline; }
.small     { font-size: 85%; }
.smaller   { font-size: 75%; }
.tiny      { font-size: 50%; }
.big       { font-size: 200%; }
.halfwidth { width: 50%; /* XXX to do  align: left; */}
.match-1   { text-align:center; background-color:#eed8ae; }
.match-0   { text-align:center; background-color:#ffe7ba; }
.nomatch-0 { text-align:center; background-color:#ffe7ba; }
.nomatch-1 { text-align:center; background-color:#ffe7ba; }
.box       { background-color:#eed8ae; border:thin solid; border-color:#191970; }
.tr-head   { text-align:left; font:normal normal 12pt monospace; }
.tr-data-1 { text-align:left; background-color:#eed8ae; }
.tr-data-0 { text-align:left; background-color:#ffe7ba; }
.highlight { color:red; }
.nobr      { white-space: nowrap; }
.hidden    { display: none; }
.left      { text-align:left; }
.logotext  { letter-spacing: 8pt; }

.navbutton {
    /* eg. "[Device Details]" */
    color:#3d382D;
    font-size:84%;
    font-weight:bold;
    background-color:#D0BDBE;
    padding: 2px;
    border:1px solid #7B6F5A;
}

.smlbutton {
    /* eg. '+' */
    color:black;
    font-family:monospace;
    font-size:8pt;
    background-color:#D0BDBE;
    padding: 0px;
    margin: 0px;
    border:1px solid #7B6F5A;
}

.topbutton {
    /* eg. "Inventory" */
    color:#3d382D;
    font-size:90%;
    font-family:arial,helvetica,san-serif;
    font-weight:bold;
    background-color:#D0BDBE;
    padding: 2px;
    border:1px solid #7B6F5A;
}

.navbar {
    /* eg. [Device Details] [Hide Ports] ... */
    background-color: #f6e3Be;
    width:98%;
    padding-top: 5px;
    padding-bottom: 8px;
}

.pagehead {
    /* eg. "Device View" */
    background-color: #3D38EC;
    color: #f5deb3;
    width: 98%;
    padding-left: 10px;
    padding-bottom: 2px;
    padding-top: 2px;
    font-weight:bold;
    font-size:120%;
    letter-spacing: 110%;
    margin-bottom: 5px;
    margin-top: 5px;
}
.pagehead A {
    color: #f5deb3;
    font-weight:bold;
}

.subheader {
    /* eg. "Device Details */
    font-weight:bold;
    font-size:110%;
    letter-spacing: 110%;
    margin-left:15px;
    margin-bottom: 5px;
    margin-top: 10px;
}

/****************************************************************
 *  AUTOHANDLER                                                 *
 *      Keep Footer and Header onscreen and scroll content      *
 ****************************************************************/
body {
  margin:0;
  border:0;
  padding:0;
  height:100%;
  max-height:100%;
  background:#fff;
  font-family:arial, verdana, sans-serif;
  font-size:76%;
  overflow: hidden;
  }

/* for internet explorer */
* html body {
  padding:70px 0 30px 0;
  }

#content {
  font-family: Treuchet MS, Helvetica, sans-serif;
  font-size: 10pt;
  position:fixed;
  top:71px;
  left:0;
  bottom:31px;
  right:0;
  overflow:auto;
  background:#F5DEB3;
  padding:20px;
  }

* html #content {
  height:100%;
  width:100%;
  }

#topbar {
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:70px;
  overflow:auto;
  font-size:14pt;
  background-image: url('corner-tl.png');
  background-color:#8b7e66;
  background-repeat: no-repeat;
  color:#eed8ae;
  border-bottom:1px solid #000;
  }
* html #topbar {height:71px;}

#botbar  {
  position:absolute;
  bottom:0;
  left:0;
  width:100%;
  height:30px;
  overflow:auto;
  text-align:right;
  background:#8b7e66;
  color:#eed8ae;
  font-size:8pt;
  border-top:1px solid #000;
  }
* html #botbar  {height:30px;}

table.topbar { width:95%; }
table.topbar TD.logo   { text-align:left; vertical-align:middle; }
table.topbar TD.search { text-align:center; }
table.topbar TD.navtop { text-align:right; vertical-align:bottom; white-space: nowrap; }
table.topbar TD.navbot { text-align:right; vertical-align:top; white-space: nowrap; padding-top: 5px; }

table.botbar { border-spacing: 0px; border-style: none; width:98%; height:100%; vertical-align: bottom; }
table.botbar TD.ver   { text-align:left; }
table.botbar TD.nav   { text-align:center; }
table.botbar TD.login { text-align:right; }

/****************************************************************
 *  DEVICE.HTML                                                 *
 ****************************************************************/
.port-up     { color:black; }
.port-down   { color:#a0a0a0; }
.port-off    { color:red; }
.port-block  { color:#33ccff; }
.dead-link   { color:white; background-color:red; }
.ip-phone    { color: white; background-color:blue; }
.device-link { color:blue; }

table.dev-ports, table.inv-main, table.port-rep {
    border-width: 1px 2px 2px 1px;
    border-spacing: 0px;
    border-style: solid solid solid solid;
    border-color: black black black black;
}

table.dev-ports th, table.inv-main th,
table.port-rep th {
    border-width: 1px 1px 1px 1px;
    border-spacing: 0px;
    border-style: dotted;
    border-color: black black black black;
    padding: 2px 2px 2px 2px;
    background-color: #eed8ae;
    color: black;
}

table.dev-ports TD.ports-0, table.inv-main td.match-0,
table.port-rep td.match-0 {
    border-width: 1px 1px 1px 1px;
    border-spacing: 0px;
    border-style: dotted;
    border-color: gray gray gray gray;
    padding: 1px 1px 1px 1px;
    background-color: #ffe7ba;
    text-align: center;
}

table.dev-ports TD.ports-1, table.inv-main td.match-1,
table.port-rep td.match-1 {
    border-width: 1px 1px 1px 1px;
    border-spacing: 0px;
    border-style: dotted;
    border-color: gray gray gray gray;
    padding: 2px 1px 1px 1px;
    background-color: #eed8ae;
    text-align: center;
}

table.dev-key, table.dev-view, table.node-search, table.port-key {
    border-style: solid solid solid solid;
    border-width: 1px 1px 1px 1px;
    border-color: #191512;
    background-color: #ffe7ba;
    margin-bottom:15px;
}
table.dev-key th, table.dev-view th, table.node-search th, table.port-key th {
    border: none; padding-left: 3px; text-align:right;
}
table.dev-key td, table.dev-view td, table.node-search td, table.port-key td {
    border: none; padding-left: 5px; padding-right:10px;
}

table.dev-details {
    border-width: 0px 1px 1px 0px;
    border-spacing: 0px;
    border-style: none solid solid none;
    border-color: black black black black;
    background-color: #ffe7ba;
    width:75%;
}

table.dev-details th {
    padding-right:10px;
    color: black;
    text-align:right;
    border-style: solid solid solid solid;
    border-width: 1px 1px 1px 1px;
    border-color: #7b6f5a;
    font-weight: normal;
}

table.dev-details TD {
    padding-left:10px;
    text-align:left;
    border-style: solid solid solid solid;
    border-width: 1px 1px 1px 1px;
    border-color: #B8A786;
}

table.dev-addr {
    border-width: 0px;
    border-spacing: 0px;
    border-style: none;
}

table.dev-addr TD { border-style: none; }

/****************************************************************
 *  NODE.HTML                                                   *
 ****************************************************************/
/* table.node_search    -> alised */
/* table.node_search th -> alised */
/* table.node_search td -> alised */

/****************************************************************
 *  NETMAP.HTML                                                 *
 ****************************************************************/
td.mapkey  { background-color:black; }

/****************************************************************
 *  DEVICE_INV.HTML                                             *
 ****************************************************************/
/* table.inv-main            -> aliased */
/* table.inv-main tr         -> aliased */
/* table.inv-main td.match-0 -> aliased */
/* table.inv-main td.match-1 -> aliased */

/****************************************************************
 *  PORT_REPORT.HTML                                            *
 ****************************************************************/
/* table.port-key            -> aliased */
/* table.port-key tr         -> aliased */
/* table.port-key td         -> aliased */
/* table.port-rep            -> aliased */
/* table.port-rep tr         -> aliased */
/* table.port-rep td.match-0 -> aliased */
/* table.port-rep td.match-1 -> aliased */
