<h3>Device Port Control</h3>
% $m->comp('SELF:switch') if $cmd =~ /^(up|down)$/;
% $m->comp('SELF:log') if $cmd eq 'log';
% $m->comp('SELF:err') if $cmd eq 'err';
<%args>
$cmd  => undef
$type => undef
$ip   => undef
$port => undef
$log  => undef
$log_num => 5
$reason => ''
</%args>
<%shared>
# scope
my ($arg_ip,$arg_port,$log,$arg_cmd,$port,$err,$db_port,$arg_reason,$arg_log_num);
my $user   = $r->connection->user;
my $userip = $r->connection->remote_ip; 
my $odd = 1 ;
my %Reasons = ( 
                ''          => 'Select a Reason',
                'dos'       => 'Denial Of Serivce attack.',
                'bandwidth' => 'Excessive BandWidth usage.',
                'other'     => 'Other'
              );
</%shared>
<%init>
# Check Authorization - User in portcontrol list in config file, and connected via https
unless (defined $netdisco::CONFIG{portcontrol}->{$user} and $r->subprocess_env('https') eq 'on'
        and $cmd =~ /^(up|down|log|err|switch)$/) {
    # is there a better way to check if we're in using SSL?
    $m->clear_buffer;
    $m->abort(401);
}

$arg_cmd = $cmd;  $arg_ip = $ip;  $arg_port = $port; 
$arg_reason = $reason; $arg_log_num = $log_num;

# Check that port exists in netdisco
$db_port = sql_hash('device_port',['up','up_admin','descr','name','mac','remote_ip','remote_port'],
                {'ip'=>$ip, 'port'=>$port});

if (!defined $db_port){
    $cmd = 'err';
    $err = "Port [ $ip / $port ] not found in netdisco.";
} elsif (defined $db_port->{remote_ip}){
    $cmd = 'err';
    $err = "Port [ $ip / $port ] is an uplink port.  Control from netdisco not allowed."; 
}

if ($cmd eq 'switch' and (!defined $log or !length($log)) ){
    $cmd = 'err';
    $err = "You must add a log entry!";    
}
if ($cmd eq 'switch' and (!$reason) ){
    $cmd = 'err';
    $err .= "You must select a reason for bringing the port $type\n";
}

if ($cmd eq 'switch' and $type =~ /^(up|down)$/) {
    
    # Switch
    my $rv = system('/usr/local/netdisco/port_control',$ip,$port,$type);
    $rv /= 256;

    # Switch Failed
    if ($rv) {
        $cmd = 'err';
        $err = "Switching of port failed. ($rv)\n";
        # Log anyways.
        $log .= " [FAILED] Could not bring port $type. ($rv)"; $type = 'fail';
    } 

    # Switch Succeeded - Update netdisco
    else {  
        insert_or_update('device_port', {'ip'=>$ip,'port'=>$port} , {'up_admin'=>$type});
        $cmd = 'log';
    }

    # Log attempt 
    insert_or_update('device_port_log', {},
                     {'ip'=>$ip,'port'=>$port,'log'=>$log,'userip'=>$userip,
                      'username'=>$user,'action'=>$type, 'reason' => $reason }
                    ); 
}

</%init>
<%method log>
% my $logs = sql_rows('device_port_log', ['id','log','reason','username','userip','action','extract(epoch from creation) as creation'] , 
%       {'ip'=>$arg_ip, 'port'=>$arg_port} );
% my $count = 0;
<h4>Log Entries for <A HREF="device.html?ip=<%$arg_ip |u%>&port=<% $arg_port|u%>"><%$arg_ip%>/<%$arg_port%></A>
<& SELF:back &></h4>
<FORM ACTION="<%$r->uri%>" METHOD=GET>
<INPUT TYPE="HIDDEN" NAME="cmd" VALUE="log">
<INPUT TYPE="HIDDEN" NAME="ip" VALUE="<%$arg_ip |h%>">
<INPUT TYPE="HIDDEN" NAME="port" VALUE="<%$arg_port|h%>">
<TABLE WIDTH=85% CELLSPACING=0 CELLPADDING=2 BORDER=0>
<TR>
    <TH>User</TH>
    <TH>Action</TH>
    <TH>Date</TH>
    <TH>Reason</TH>
    <TH>Log</TH>
</TR>
% foreach my $entry (sort {$b->{creation} <=> $a->{creation} } @$logs) {
<TR CLASS="match-<% ++$odd % 2 %>">
    <TD><%$entry->{username}%> @ <%$entry->{userip}%></TD>
    <TD><%$entry->{action}%></TD>
    <TD><%scalar localtime($entry->{creation})%></TD>
    <TD><% $Reasons{$entry->{reason}}%></TD>
    <TD><TEXTAREA ROWS=3 COLS=30 WRAP=soft><%$entry->{log}%></TEXTAREA>
    </TD>
</TR>

% $count++;
% last unless ($arg_log_num eq 'All' or $count < $arg_log_num);
%}
</TABLE>
Log Entires to Show : <SELECT NAME="log_num">
% foreach my $num (qw/1 3 5 10 20 50 100 All/){
    <OPTION VALUE="<%$num%>" <%$num eq $arg_log_num ? 'SELECTED' : ''%>><%$num%>
%  }
</SELECT>
<INPUT TYPE="SUBMIT" VALUE="Refresh">
</FORM>
</%method>
<%method switch>
<FORM ACTION="<%$r->uri%>" METHOD="post">
<INPUT TYPE="HIDDEN" NAME="cmd" VALUE="switch">
<INPUT TYPE="HIDDEN" NAME="type" VALUE="<%$arg_cmd |h%>">
<INPUT TYPE="HIDDEN" NAME="port" VALUE="<%$arg_port |h%>">
<INPUT TYPE="HIDDEN" NAME="ip" VALUE="<%$arg_ip |h%>">
<TABLE>
<TR>
    <TD>Port :</TD>
    <TD><A HREF="device.html?ip=<%$arg_ip |u%>&port=<% $arg_port|u%>"><% $arg_ip %>[<% $arg_port %>]</A></TD>
</TR>
<TR>
    <TD>User :</TD>
    <TD><U><%$user%></U> at <%$userip%> <BR><u><% scalar localtime %></u>
    </TD>
</TR>
<TR>
    <TD>Reason :</TD>
    <TD><SELECT NAME="reason">
% foreach my $this_r (sort keys %Reasons){
        <OPTION VALUE="<%$this_r |h%>" <%$this_r eq $arg_reason ? 'SELECTED' : ''%>><%$Reasons{$this_r}%>
%}
    </SELECT>
    </TD>
</TR>
<TR>
    <TD>Log:</TD>
    <TD><TEXTAREA NAME="log" ROWS=3 COLS=40 WRAP=soft></TEXTAREA>
    <BR>Enter a useful description why the port is being turned <% $arg_cmd eq 'down' ? 'off' : 'on' %>.
    </TD>
</TR>
<TR>
    <TD COLSPAN=2><INPUT TYPE="submit" VALUE="Turn Port <%$arg_cmd eq 'down' ? 'off' : 'on'%>">
        <P><I>Note</I>: This can take up to 1 minute.  Do not hit refresh on your browser.
        </FORM>
    </TD>
</TR>
</TABLE>
<HR>
<& SELF:back &>    
</%method>
<%method err>
<% $err %>
    <& SELF:back &>
</%method>
<%method back>
<FORM ACTION="device.html" METHOD="get">
<INPUT TYPE="hidden" NAME="ip" VALUE="<%$arg_ip |h%>">
<INPUT TYPE="hidden" NAME="port" VALUE="all">
<INPUT TYPE="submit" VALUE="Back to Device View">
</FORM>
</%method>
<%method title>
- Port Control \
</%method>
%# $Id$
%# vim:syntax=mason
