<TABLE class="sidebar-bg" cellpadding=5 cellspacing=0 border=1>
<TR>
    <TD CLASS="sidebar-<% ++$odd%2 %>">
    <A HREF="<%$path%>/index.html"><IMG SRC="<%$path%>/netdiscoball.gif" BORDER=0 width=82 height=90 alt="[Disco Ball]"></A><BR>
    </TD>
</TR>
<TR>
    <TD CLASS="sidebar-<% ++$odd%2 %>">
    [<A HREF="<%$path%>/netmap.html">Network Map</A>]
    </TD>
</TR>
<TR>
    <TD CLASS="sidebar-<% ++$odd%2 %>">
    [<A HREF="<%$path%>/device_search.html">Device Search</A>]
    <FORM ACTION="<%$path%>/device.html" METHOD=GET>
    <INPUT TYPE="text" size=10 maxlength=60 NAME="ip" TITLE="Enter the DNS or IP of a device and hit return.">
    </FORM>
    </TD>
</TR>
<TR>
    <TD CLASS="sidebar-<% ++$odd%2 %>">
    [<A HREF="<%$path%>/device_inv.html">Device Inventory</A>]
    </TD>
</TR>
<TR>
    <TD CLASS="sidebar-<% ++$odd%2 %>">
    [<A HREF="<%$path%>/node.html">Node Search</A>]
    <FORM ACTION="<%$path%>/node.html" METHOD=GET>
    <INPUT TYPE="text" size=10 maxlength=60 NAME="node" TITLE="Enter the IP, DNS, or MAC of a node and hit return.">
    </FORM>
    </TD>
</TR>
% if ($port_info) {
<TR>
    <TD CLASS="sidebar-<% ++$odd%2 %>">
    [<A HREF="<%$path%>/jack_search.html" TITLE="Search Pinnacles Database">Jack Search</A>]
    </TD>
</TR>
% }
<TR>
    <TD CLASS="sidebar-<% ++$odd%2 %>">
    [<A HREF="<%$path%>/traceroute.html">Layer 2 Traceroute</A>]
    </TD>
</TR>
<TR>
    <TD CLASS="sidebar-<% ++$odd%2 %>">
    [<A HREF="<%$path%>/duplex.html">Duplex Mismatch Finder</A>]
    </TD>
</TR>
<TR>
    <TD CLASS="sidebar-<% ++$odd%2 %>">
    [<A HREF="<%$path%>/ip_search.html">Node IP Inventory</A>]
    </TD>
<TR>
    <TD CLASS="sidebar-<% ++$odd%2 %>">
    [<A HREF="<%$path%>/log.html">Log</A>]
    </TD>
</TR>
<TR>
    <TD CLASS="sidebar-<% ++$odd%2 %>">
    [<A HREF="<%$path%>/doc">Documentation</A>]
    </TD>
</TR>
% if ($admin and $secure) {
<TR>
    <TD CLASS="sidebar-<% ++$odd%2 %>">
    [<A HREF="<%$path%>/admin.html">Administration Panel</A>]
    </TD>
</TR>
% }
<TR>
    <TD CLASS="sidebar-<% ++$odd%2 %>">
    [<A HREF="<%$path%>/stats.html">About</A>]
    </TD>
</TR>
<TR>
    <TD CLASS="sidebar-<% ++$odd%2 %>">
% if ($secure and $netdisco::CONFIG{secure_server} ) {
<IMG SRC="<%$path%>/icon_lock.gif" ALT="Secure Connection" TITLE="Secure Connection" HEIGHT=15 WIDTH=15>
% } elsif (!$secure) {
<A HREF="<%$url%>" ALT="Switch to Secure Connection for more features" TITLE="Switch to Secure Connection for more features"><IMG SRC="<%$path%>/icon_up.gif" WIDTH=11 HEIGHT=10 BORDER=0></A> 
% }

% if ($user) {
    User <TT><%$user%></TT> [<A HREF="<%$path%>/logout.html">Logout</A>]
    <BR>[<A HREF="<%$path%>/change_pw.html">Change Password</A>]
% } else {
    [<A HREF="<%$path%>/login.html">Login</A>]
%}
    </TD>
</TR>
</TABLE>
<%once>
</%once>
<%shared>
my $odd    = 0;
my $path   = $netdisco::CONFIG{webpath};
my $user   = $m->session->{user};
my $secure = &is_secure;
my $admin  = $m->session->{user_admin};
my $port_info = (defined $netdisco::CONFIG{port_info} and $netdisco::CONFIG{port_info} =~ /^(1|t|y)/i) ? 1 : 0;
my $url    = $r->uri;
my $args   = $r->args;
$url .= "?$args" if (defined $args and length($args));
$url = url_secure($url);
</%shared>
%# $Id$
%# vim:syntax=mason
