<h3>Network Statistics</h3>
<UL>
    <LI><% $device_count %> Devices using <% $device_count + $device_ip_count %> IPs   <BR>
    <LI><% $device_port_count %> discovered interfaces. <BR>
    <LI>Found <% $node_count %> Nodes in <% $node_table_count %> entries. <BR>
    <LI>Seen <% $ip_count %> IPs in <% $ip_table_count %> entries.<BR>
</UL>
<P>
Statistics took <%$time2 - $time1 %> seconds to process.
<%init>
    $m->flush_buffer();
    my $time1 = time;
    my $device_count = sql_scalar('device',['COUNT(*)']);
    my $device_port_count = sql_scalar('device_port',['COUNT(*)']);
    my $device_ip_count = sql_scalar('device_ip',['COUNT(alias)']);
    my $node_count = sql_scalar('node',['COUNT(DISTINCT(mac))']);
    my $node_table_count = sql_scalar('node',['COUNT(*)']);
    my $ip_count = sql_scalar('node_ip',['COUNT(DISTINCT(ip))']);
    my $ip_table_count = sql_scalar('node_ip',['COUNT(ip)']);
    my $time2 = time;
</%init>
<%method title>
- Network Statistics \
</%method>
%# $Id$
%# vim:syntax=mason
